/* .bio-heading{
    font-size: 100px;
    display:flex;
    font-weight: bold;
    color: azure;
}
.bio-box{
    height:auto;
    display:flex;
    width:100%;
    font-size: larger;
    background-color:rgb(11, 6, 87);
    color: azure;
    padding: 50px;
    border-radius: 10px;
    border:2px solid white;
} */

/* .bio-heading {
    font-size: 6vw;
    display: flex;
    font-weight: bold;
    color: azure;
}

.bio-box {
    height: auto;
    display: flex;
    width: 100%;
    font-size: calc(9px + 0.7vw);
    background-color: rgb(11, 6, 87);
    color: azure;
    padding: 2%;
    border-radius: 2vw;
    border: 0.2vw solid white;
} */

/* font-size: 2vw; */

.bio-heading {
    /* font-size: 4vw; */
    font-size: calc(16.6px + 2vw);
    color: azure;
    margin-top: 0;
    margin-bottom: 2px;
  }
  
  .bio-text {
    font-size: calc(15px+1.5vw);
    color:azure;
    margin-top: 0;
  }
  