.details-box{
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details{
    font-size: 15px;
    color: blanchedalmond;
    
}

.details >div{
    margin: 2px 0;
}

.fields{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

